* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
    color: hsl(30, 10%, 34%);
}

h2 {
    font-family: "Young Serif", serif;
    color: hsl(14, 45%, 36%);
    font-weight: 100;
}